{% extends "base.html" %}

{% block title %}パスワード変更 - Find it{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css')}}">
{% endblock %}

{% block content %}
<div class="page-auth">
    <main class="page-auth-main">
        <div class="wrapper">
            <div class="card">
                <div class="card-header">
                    <h2>パスワードを変更してください</h2>
                </div>

                <form class="auth-form" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div>
                    <label>現在のパスワード</label>
                    <input type="password" placeholder="現在のパスワード" name="current_password" required/>
                </div>

                <div>
                    <label>新しいパスワード</label>
                    <input type="password" placeholder="新しいパスワード" name="new_password" required/>
                </div>

                <div>
                    <label>新しいパスワード（確認用）</label>
                    <input type="password" placeholder="新しいパスワード（確認用）" name="confirm_password" required/>
                </div>

                <div class="auth-button-container">
                    <button class="auth-button" type="submit">変更</button>
                </div>
                </form>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash flash-{{category}}">
                        {{ message }}
                        </div>
                    {% endfor %} 
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
