{% extends "base.html" %}

{% block title %}投稿編集 - Find it{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_posts.css' )}}">
{% endblock %}

{% block content %}
<!--戻るボタン-->
<header class="detail-header">
        <a href="{{ url_for('show_posts') }}" class="back-button">
             <img src="{{ url_for('static', filename='images/arrow-left.svg') }}"
                  class="arrow-left" 
                  alt="戻る">
        </a>
</header>

<main class="admin-posts">
    <h2 class="admin-posts-title">
        投稿編集
    </h2>

   <form class="posts-form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
        <!-- =====フォームフィールド===== -->
        <div>
            <label>カテゴリグループ</label>

            <select id="groupSelect" name="group_id" class="form-select" required>
            <option value="">グループを選択してください</option>

            {% for group in groups %}
            <option 
            value="{{ group.id }}"
            {% if group.id == post.group_id %}selected{% endif %}>
                {{ group.name }}
            </option>
            {% endfor %}
            </select>


            <label>カテゴリ</label>

            <select id="categorySelect" name="category_id" class="form-select" disabled>
            <option value="">先にグループを選択してください</option>
            </select>
        </div>

        <div>
            <label>詳細説明</label>
            <textarea placeholder="特徴などを記載" name="description">{{ post.description }}</textarea>
        </div>

        <div>
            <label for="found_date">日付</label>
            <input type="date"
                   id="found_date"
                   name="found_date"
                   value="{{ post.found_date.strftime('%Y-%m-%d') }}">
        </div>

        <div>
            <label>場所</label>
            <input type="text"
                   placeholder="発見場所を記載"
                   name="found_place"
                   value="{{ post.found_place }}">
        </div>
    
        <div class="upload-photo">
            <div>写真をアップロード</div>
            <label for="photo" class="upload-button">
                <img 
                src="{{ url_for('static', filename='images/upload_icon.svg')}}"
                alt="アップロード"
                class="upload-icon"
                >
            </label>
            <input
                type="file"
                id="photo"
                name="image"
                accept="image/*"
                hidden
            >
             
            <div class="current-image">
                <img src="{{ url_for('static', filename=post.image_path) }}"
                     alt="投稿画像"
                     class="preview-image">
        
            <!-- 写真削除ボタン -->
            <button type="button"
                    id="remove-photo-button"
                    data-post-id="{{ post.id }}"
                    data-image-id="{{ image.image_id }}">削除
            </button>
            <!--DELETE時のcsrf対策-->
            <input type="hidden" id="csrf_token" value="{{ csrf_token() }}">
            </div>

        </div>

        <!--更新ボタン-->
        <div class="register-button">
            <button class="admin-posts-button" type="submit">更新</button>
        </div>

    </form>

</main>

<script>
   // Pythonの辞書が、そのままJSのオブジェクト（連想配列）になる
    const categoriesData = {{ categories_mapping | tojson }};

    const groupSelect = document.getElementById('groupSelect');
    const categorySelect = document.getElementById('categorySelect');

    // グループの選択が変更（change）されたら発動
    groupSelect.addEventListener('change', function()  {

        //選ばれたグループのIDを取得(文字列として取得される)
        const selectedGroupId = this.value;

        //一旦カテゴリの選択肢を空っぽにする
        categorySelect.innerHTML = '<option value="">カテゴリを選択してください</option>';

        if (selectedGroupId !== "") {
            //選ばれたグループIDに対応するカテゴリの配列を取り出す
            const matchingCategories = categoriesData[selectedGroupId];

            //取り出したカテゴリを１つずつ<option>タグにして追加していく
            if (matchingCategories) {
                matchingCategories.forEach(category => {
                    const option = document.createElement('option');
                    option.value = category.id;
                    option.textContent = category.name;
                    categorySelect.appendChild(option);
                });
            }

            //カテゴリのプルダウンを操作可能（有効化）にする
            categorySelect.disabled = false;
        } else {
                //「選択してください」に戻された場合は、再び無効化する
                categorySelect.innerHTML = '<option value="">先にグループを選択してください</option>';
                categorySelect.disabled = true;
        }
    });

    //グループselectの初期値をセット
    groupSelect.value = "{{ post.group_id }}";
    //changeイベントを強制実行
    groupSelect.dispatchEvent(new Event('change'));
    //カテゴリの初期値をセット
    categorySelect.value = "{{ post.category_id }}";
    

    //写真投稿
    const photoInput = document.getElementById("photo");
    const removeButton = document.getElementById("remove-photo-button");
    const csrfToken = document.getElementById("csrf_token").value;

    photoInput.addEventListener("change", function(){
        console.log("画像選択");
        //削除ボタン表示
        removeButton.hidden = false;
    });
    

    //削除ボタンがクリックされたらこの処理を実行する
    removeButton.addEventListener("click", async function () {
        //HTMLのデータ属性を取得
        const postId = this.dataset.postId;
        const imageId = this.dataset.imageId;

        //通信失敗時にアプリが止まらないようにする
        try {
            //Flask API にアクセス(非同期通信)
            const response = await fetch(
                `/api/admin/posts/${postId}/images/${imageId}`,
                {
                    method: "DELETE",
                    //CSRF対策
                    headers: {
                        "X-CSRFToken": csrfToken
                    }
                }
            );
            //Flask が返した JSON を JavaScript のオブジェクトに変換
            const data = await response.json();

            if (response.ok) {

                alert(data.message);

                //画面から画像を消す
                document.querySelector(".current-image").remove();

            } else {
                //Flaskのメッセージを表示
                alert(data.message || "削除に失敗しました");

            }

         } catch (error) {

            console.error(error);
            //Flaskのメッセージを表示
            alert("通信エラーが発生しました");

        }

    });
</script>

{% endblock %}