{% extends "base.html" %}

{% block title %}新規投稿 - Find it{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_posts.css' )}}">
{% endblock %}

{% block content %}
<!--戻るボタン-->
<header class="detail-header">
        <a href="{{ url_for('show_posts') }}" class="back-button">
             <img src="{{ url_for('static', filename='images/arrow-left.svg') }}"
                  class="arrow-left" 
                  alt="戻る">
        </a>
</header>

<main class="admin-posts">
    <h2 class="admin-posts-title">
        新規投稿
    </h2>

   <form class="posts-form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
        <!-- =====フォームフィールド===== -->
        <div>
            <label>カテゴリグループ</label>

            <select id="groupSelect" name="group_id" class="form-select" required>
            <option value="">グループを選択してください</option>

            {% for group in groups %}
            <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
            </select>


            <label>カテゴリ</label>

            <select id="categorySelect" name="category_id" class="form-select" disabled>
            <option value="">先にグループを選択してください</option>
            </select>
        </div>

        <div>
            <label>詳細説明</label>
            <textarea
                placeholder="特徴などを記載"
                name="description">
            </textarea>
        </div>

        <div>
            <label for="found_date">日付</label>
            <input type="date" id="found_date" name="found_date">
        </div>

        <div>
            <label>場所</label>
            <input type="text" placeholder="発見場所を記載" name="found_place">
        </div>
    
        <div class="photo-area">
            <div class="upload-photo">写真をアップロード</div>
            <label for="photo" class="upload-button">
                <img 
                src="{{ url_for('static', filename='images/upload_icon.svg')}}"
                alt="アップロード"
                class="upload-icon"
                >
            </label>
            <input
                type="file"
                id="photo"
                name="image"
                accept="image/*"
                hidden
            >
             <!-- 写真削除ボタン -->
            <button type="button" 
                    id="remove-photo-button"
                    hidden
            >
                <img class="close-icon" src="{{url_for('static', filename='images/close_round.svg')}}" alt="削除"> 
            </button>

        </div>

        <!--登録ボタン-->
        <div class="register-button">
            <button class="admin-posts-button" type="submit">登録</button>
        </div>

    </form>

</main>

<script>
    // Pythonの辞書が、そのままJSのオブジェクト（連想配列）になる
    const categoriesData = {{ categories_mapping | tojson }};

    const groupSelect = document.getElementById('groupSelect');
    const categorySelect = document.getElementById('categorySelect');

    // グループの選択が変更（change）されたら発動
    groupSelect.addEventListener('change', function()  {

        //選ばれたグループnoIDを取得(文字列として取得される)
        const selectedGroupId = this.value;

        //一旦カテゴリの選択肢を空っぽにする
        categorySelect.innerHTML = '<option value="">カテゴリを選択してください</option>';

        if (selectedGroupId !== "") {
            //選ばれたグループIDに対応するカテゴリの配列を取り出す
            const matchingCategories = categoriesData[selectedGroupId];

            //取り出したカテゴリを１つずつ<option>タグにして追加していく
            if (matchingCategories) {
                matchingCategories.forEach(category => {
                    const option = document.createElement('option');
                    option.value = category.id;
                    option.textContent = category.name;
                    categorySelect.appendChild(option);
                });
            }

            //カテゴリのプルダウンを操作可能（有効化）にする
            categorySelect.disabled = false;
        } else {
                //「選択してください」に戻された場合は、再び無効化する
                categorySelect.innerHTML = '<option value="">先にグループを選択してください</option>';
                categorySelect.disabled = true;
        }
    });

    const photoInput = document.getElementById("photo");
    const removeButton = document.getElementById("remove-photo-button");

    photoInput.addEventListener("change", function(){
        console.log("画像選択");
        //削除ボタン表示
        removeButton.hidden = false;
    });
    
    //削除ボタンを押した時
    removeButton.addEventListener("click", function(){

        photoInput.value = "";
        //削除ボタンを非表示
        removeButton.hidden =true;

        console.log("画像削除");

    });
</script>

{% endblock %}