{% extends "base.html" %}

{% block title %}投稿編集 - Find it{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_posts.css' )}}">
{% endblock %}

{% block content %}
<!--戻るボタン-->
<header class="detail-header">
        <a href="{{ url_for('show_posts') }}" class="back-button">
             <img src="{{ url_for('static', filename='images/arrow-left.svg') }}"
                  class="arrow-left" 
                  alt="戻る">
        </a>
</header>

<main class="admin-posts">
    <h2 class="admin-posts-title">
        投稿編集
    </h2>

   <form class="posts-form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
        <!-- =====フォームフィールド===== -->
        <div>
            <label>カテゴリグループ</label>

            <select id="groupSelect" name="group_id" class="form-select" required>
            <option value="">グループを選択してください</option>

            {% for group in groups %}
            <option 
            value="{{ group.id }}"
            {% if group.id == post.group_id %}selected{% endif %}>
                {{ group.name }}
            </option>
            {% endfor %}
            </select>


            <label>カテゴリ</label>

            <select id="categorySelect" name="category_id" class="form-select" disabled>
            <option value="">先にグループを選択してください</option>
            </select>
        </div>

        <div>
            <label>詳細説明</label>
            <textarea placeholder="特徴などを記載" name="description">{{ post.description }}</textarea>
        </div>

        <div>
            <label for="found_date">日付</label>
            <input type="date"
                   id="found_date"
                   name="found_date"
                   value="{{ post.found_date.strftime('%Y-%m-%d') }}">
        </div>

        <div>
            <label>場所</label>
            <input type="text"
                   placeholder="発見場所を記載"
                   name="found_place"
                   value="{{ post.found_place }}">
        </div>
    
        <div class="upload-photo">
            <div>写真をアップロード</div>
            <label for="photo" class="upload-button">
                <img 
                src="{{ url_for('static', filename='images/upload_icon.svg')}}"
                alt="アップロード"
                class="upload-icon"
                >
            </label>
            <input
                type="file"
                id="photo"
                name="image"
                accept="image/*"
                hidden
            >
             
            <div class="current-image">
                <img src="{{ url_for('static', filename=post.image_path) }}"
                     alt="投稿画像"
                     class="preview-image">
        
            <!-- 写真削除ボタン -->
            <button type="button"
                    id="remove-photo-button"
                    data-post-id="{{ post.id }}"
                    data-image-id="{{ image.image_id }}">削除
            </button>
            <!--DELETE時のcsrf対策-->
            <input type="hidden" id="csrf_token" value="{{ csrf_token() }}">
            </div>

        </div>

        <!--更新ボタン-->
        <div class="register-button">
            <button class="admin-posts-button" type="submit">更新</button>
        </div>

    </form>

</main>

{% endblock %}

{% block page_js %}
<script src="{{ url_for('static', filename='js/admin_edit.js') }}"></script>
{% endblock %}