{% extends "base.html" %}

{% block title %}カテゴリ一覧 - Find it {% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css') }}">
{% endblock %}

{% block content %}
<div class="post-category">
    <header class="category-header">
        <a href="{{ url_for('show_posts') }}" class="back-button">
            <img src="{{ url_for('static', filename='images/arrow-left.svg') }}" alt="戻る" class="back-icon">
        </a>
        <h1 class="page-title">カテゴリから検索</h1>
    </header>

    <main class="main-category">

        {% for group in groups %}
        <div class="category-group">
            <h2 class="group-title">{{ group.name }}</h2>

            <div class="pill-container">
                {% for category in group.categories %}
                <a href="{{ url_for('show_posts', category_id=category.id) }}"
                    class="category-pill group-color-{{ group.id }}">
                    {{ category.name }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </main>
</div>
{% endblock %}