{% extends "base.html" %}

{% block title %}ホーム - Find It{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block content %}
<div class="home-posts">
    <main>
        <div class="posts-header">
            <div class="posts-header_title-area">
                <h1 class="posts-header_title">Find It</h1>
                <p class="posts-header_subtitle">Search your lost item!</p>
            </div>
        </div>
        <div class="search-action-area">
            <a href="{{ url_for('show_categories') }}" class="category-search-btn">
                <img src="{{ url_for('static', filename='images/search-icon.svg') }}" alt="🔍️" class="search-icon">
                カテゴリから探す
            </a>

            {% if request.args.get('category_id') %}
            <a href="{{ url_for('show_posts') }}" class="clear-btn">
                ✕ クリア
            </a>
            {% endif %}
        </div>
        {% if posts and posts|length > 0 %}
        <div class="posts-list">
            {% for post in posts %}
            <a href="{{ url_for('show_post_detail', id=post.id) }}" class="post-card">
                <div class="post-card_image-box">
                    {% if post.images and post.images|length > 0 %}
                    <img class="post-card_image" src="/{{ post.images[0].image_path }}" alt="{{ post.category_name }}">
                    {% else %}
                    <div class="no-image-placeholder">No Image</div>
                    {% endif %}
                </div>

                <div class="post-card_content">
                    <h2 class="post-card_title">{{ post.category_name }}</h2>

                    <div class="post-card_meta">
                        <span class="post-card_date">{{ post.found_date }}</span>
                        <span class="post-card_location">
                            <img src="{{ url_for('static', filename='images/post-card_location.svg') }}" alt="📍"
                                class="location-icon">
                            {{ post.found_place }}</span>
                    </div>

                </div>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="empty">
            <p>投稿がありません</p>
        </div>
        {% endif %}
    </main>

    <!--Admin専用機能”新規投稿”-->
    {% if session.get('role') == 'admin' %}
    <a href="{{ url_for('show_admin_posts')}}" class="new-post">
        <div class="post-btn">
            <img src="{{ url_for('static', filename='images/iconmonster-plus-circle-filled-72.png' ) }}">
        </div>
    </a>
    {% endif %}
</div>
{% endblock %}