{% extends "base.html" %}

{% block title %}ホーム - Find It{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="home-posts">
    <main>
        <div class="posts-header">
            <div class="posts-header_title-area">
                <h1 class="posts-header_title">Find It</h1>
                <p class="posts-header_subtitle">Search your lost item!</p>
            </div>


        </div>
    </main>
</div>