<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Find It{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" hrel="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">
    {% block page_css %}{% endblock %}
</head>

<body>
    {% include 'common/header.html' %}

    {% block content %}{% endblock %}

    {% include 'common/fooler.html' %}

    <nav class="bottom-nav">
        {% if current_user.role == 'admin' %}
        <a href="{{ url_for('admin_top') }}" class="bottom-nav_admin">
            <span class="bottom-nav_icon">⚙️</span>
            <span class="bottom-nav_text">管理</span>
        </a>
        {% endif %}

        <a href="{{ url_for('home') }}" class="bottom-nav_home">
            <span class="bottom-nav_icon">🏚️</span>
            <span class="bottom-nav_text">ホーム</span>
        </a>

        <a href="{{ url_for('messages') }}" class="bottom-nav_messages">
            <span class="bottom-nav_icon">📧</span>
            <span class="bottom-nav_text">チャット</span>
        </a>

        <a href="{{ url_for('notification') }}" class="bottom-nav_notifi">
            <span class="bottom-nav_icon">🔔</span>
            <span class="bottom-nav_text">通知</span>
        </a>

        <a href="{{ url_for('logout') }}" class="bottom-nav_logout">
            <span class="bottom-nav_icon">🚪</span>
            <span class="bottom-nav_text">ログアウト</span>
        </a>
    </nav>
</body>

</html>