<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Find It{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">
    {% block page_css %}{% endblock %}
</head>

<body>
    {# {% include 'common/header.html' %} #}

    {% block content %}{% endblock %}

    {% block footer %}
    {% include 'common/footer.html' %}
    {% endblock %}

    {% block bottom_nav %}
    <nav class="bottom-nav">
        {% if session.get('role') == 'admin' %}
        <a href="{{ url_for('show_admin_top') }}" class="bottom-nav_admin">
            <img src="{{ url_for('static', filename='images/admin-top-icon.svg' ) }}" class="bottom-nav-admin_img"
                alt="管理者用TOP">
        </a>
        {% endif %}

        <a href="{{ url_for('show_posts') }}" class="bottom-nav_home">
            <img src="{{ url_for('static', filename='images/home-icon.svg') }}" class="bottom-nav_img" alt="ホーム">
        </a>

        <!--ユーザ用とAdmin用で参照リンクを変更する-->
        {% if session.get('role') == 'admin' %}
        <a href="{{ url_for('show_threads') }}" class="bottom-nav_messages">
            {% else %}
            <a href="{{ url_for('redirect_to_my_chat') }}" class="bottom-nav_messages">
                {% endif %}
                <img src="{{ url_for('static', filename='images/chat-icon.svg') }}" class="bottom-nav_img" alt="チャット">
            </a>

            <a href="{{ url_for('show_notifications') }}" class="bottom-nav_notifi">
                <img src="{{ url_for('static', filename='images/notifi-icon.svg') }}" class="bottom-nav_img" alt="通知">
            </a>

            <a href="{{ url_for('logout') }}" class="bottom-nav_logout">
                <img src="{{ url_for('static', filename='images/logout-icon.svg') }}" class="bottom-nav-logout_img"
                    alt="ログアウト">
            </a>
    </nav>
    {% endblock %}

    {% block page_js %}{% endblock %}
</body>

</html>