.admin-top-contents{
    width:100%;
    max-width:800px;
    margin:20px 0;
    padding:0 16px;
    box-sizing:border-box;
}

.admin-top-title{
    font-family: 'Sora', sans-serif;
    font-size:28px;
    color:var(--text-main);
    font-weight:700;
    padding:8px 0px;
}

.admin-posts{
    padding:0px;
}

.admin-posts a,
.admin-threads a,
.admin-user a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding:4px 8px;
    gap: 4px;
}

.admin-posts li,
.admin-threads li,
.admin-user li{
    list-style:none;
    border-bottom: 1px solid var(--r-btn);
}

.menu-text{
    font-family: 'Sora', sans-serif;
    font-size:20px;
    color:var(--text-main);
    font-weight:500;
}

.admin-menu{
    margin-left: auto;
}


